.page-title {
  margin-top: 0px;
  margin-bottom: 50px;

  text-align: center;
  color: $title-text-color;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}