.customers-container {
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;

  @media screen and (min-width: $mobile) {
    width: 480px;
  }

  @media screen and (min-width: $tablet) {
    width: 768px;
  }

  @media screen and (min-width: $desktop) {
    width: 1200px;
  }
}

.customers-list {
  display: flex;
  flex-wrap: wrap;

  margin: -15px;

  .customers-item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;

    @media screen and (min-width: $tablet) {
      width: calc((100% - 6 * 15px) / 3);
      margin: 15px;
    }

    @media screen and (min-width: $desktop) {
      width: calc((100% - 12 * 15px) / 6);
      margin: 15px;
    }
  }
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 90px;

  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #afb1b8;

  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $accent-color;
  }

  &:hover svg,
  &:focus svg {
    fill: $accent-color;
  }

  .customers-icon {
    display: flex;

    fill: $icon-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
