.features-container {
  // For mobile devices
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;

  @media screen and (min-width: $mobile) {
    width: 480px;
  }

  @media screen and (min-width: $tablet) {
    width: 768px;
  }

  @media screen and (min-width: $desktop) {
    width: 1200px;
  }
}

.features-list {
  margin: -15px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.feachers-item {
  width: calc(100% - 2 * 15px);
  margin: 15px;

  @media screen and (min-width: $mobile) {
    // For tablet devices
  }

  @media screen and (min-width: $tablet) {
    // For small desktop devices
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: $desktop) {
    // For large desktop devices
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }

  .feachers-icon-container {
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 0px;
    margin-bottom: 30px;

    border-radius: 4px;
    background-position: center;
    background-color: $section-background-color;

    .feachers-icon {
      width: 70px;
      height: 70px;

      background-color: transparent;
      /*
      transform: translate3d(0px, 0px, 0px) 5000ms cubic-bezier(.52,.23,.18,.84);
      transition: transform;
      */
    }
  }

  .features-title {
    margin-top: 0px;
    margin-bottom: 10px;

    color: $title-text-color;
    font-family: $font-main;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: $tablet) {
      text-align: start;
    }
  }

  .features-text {
    margin: 0px;

    color: $primary-text-color;
    font-family: $font-main;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

  }
}
