.footer {
  display: block;
  justify-content: center;
  align-items: center;

  padding-top: 45px;
  padding-bottom: 21px;

  background-color: #2f303a;
}

.footer-container {
  width: 1200px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;
}

.footer-address {
  display: block;
  margin-right: auto;

  .web-footer {
    color: $accent-color;
    font-family: $logo-font;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */
    letter-spacing: 0.03em;
  }

  .studio-footer {
    color: $aditional-text-color;
    font-family: $logo-font;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */
    letter-spacing: 0.03em;
  }

  .footer-address-container {
    font-family: $font-main;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;

    .location {
      color: $aditional-text-color;
    }

    .footer-address-link {
      color: rgba(255, 255, 255, 0.6);
      text-decoration-line: none;
    }
  }
}

.join-us-container {
  display: block;

  .join-text {
    margin-top: 0px;
    margin-bottom: 20px;

    color: $aditional-text-color;
    font-family: $font-main;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}

.join-social-list {
  display: flex;

  .join-social-item:not(:first-child) {
    margin-left: 10px;
  }

  .join-social-link {
    width: 44px;
    height: 44px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    color: $aditional-text-color;
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration-line: none;
    border-radius: 200px;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $accent-color;
    }

    .join-social-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      fill: $aditional-text-color;
    }
  }
}

.subscribe-form {
  margin-left: auto;

  align-items: center;
  justify-content: center;

  .subscribe-text {
    margin-top: 0px;
    margin-bottom: 20px;

    color: $aditional-text-color;
    font-family: $font-main;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}

.subscribe-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .subscribe-input {
    width: 358px;
    height: 50px;

    margin-right: 12px;
    padding: 15px 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    background-color: transparent;

    &:focus {
      outline: none;
      background-color: $section-background-color;
      border-color: $accent-color;
    }
  }
  // Subscribe button
}
